$primary: rgb(90, 206, 126);
$secondary: rgb(136, 224, 164);

.component {
    background-color: red;
}

@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index.scss';
