$primary: rgb(52, 124, 206);
$secondary: rgb(50, 142, 248);

.component {
    background-color: red;
}

@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index.scss';
